@use '../_utils/variables' as *;
@use '../_utils/mixins';

.link {
    color: inherit;
    text-decoration-line: none;
    &_black {
        color: $black;
    }
    &:hover {
        text-decoration-line: underline;
        cursor: pointer;
    }
    &_no-hover {
        &:hover {
            text-decoration-line: none;
        }
    }
    &_active_green:active {
        color: #286562;
    }
}

// ссылки на социальные сети
.links-social {
    display: flex;
    gap: 35px;
    &__link {
        display: flex;
        align-items: center;
        @include mixins.responsive-property(gap, 5, 10);
        &:active {
            color: #efa501;
        }
    }
    &__icon {
        width: auto;
        height: auto;
        @media (min-width: 860px) {
            width: 26px;
            height: 26px;
        }
    }
    &_with-icon {
        @include mixins.responsive-property(gap, 15, 25);
    }
}
